<div class='col-md-2 col-md-offset-3 text-center'>
  <i class="fa fa-pencil-square big-icon"></i>
</div>
<div class='col-md-4'>
  <h4>
    Create an account
    <small> or {{#link-to 'sign_in'}} sign in {{/link-to}} </small>
  </h4> 
  <form role="form" {{action 'signUp' on='submit'}}>
    <div {{bind-attr class= ":form-group errors.name:has-error"}}>
      {{input type="text" class="form-control" value=model.name placeholder="Your Name"}}
      <span class="help-block">{{errors.name}}</span>
    </div>

    <div {{bind-attr class= ":form-group errors.email:has-error"}}>
      {{input type="email" class="form-control" value=model.email placeholder="Your Email Address"}}
      <span class="help-block">{{errors.email}}</span>
    </div>

    <div {{bind-attr class= ":form-group errors.password:has-error"}}>
      {{input type="password" class="form-control" value=model.password placeholder="Password"}}
      <span class="help-block">{{errors.password}}</span>
    </div>

    <div {{bind-attr class= ":form-group errors.password_confirmation:has-error"}}>
      {{input type="password" class="form-control" value=model.password_confirmation placeholder="Password Confirmation"}}
      <span class="help-block">{{errors.password_confirmation}}</span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>  
  </form>
</div>
